<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Food Order</title>
</head>
<body>
    <h1>Food Order</h1>
    <form method="post" action="order-process">
        <label>What would you like to order?
            <input type="text" name="food">
        </label>
        <input type="submit" value="Place Order">
    </form>
</body>
</html>